@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

@font-face {
    font-family: "PlusJakartaSans";
    src: url("../assets/fonts/static/PlusJakartaSans-Medium.ttf");
    font-weight: medium;
    font-style: normal;
}


@font-face {
    font-family: "PlusJakartaSans";
    src: url("../assets/fonts/static/PlusJakartaSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: "PlusJakartaSans";
    src: url("../assets/fonts/PlusJakartaSans-Italic-VariableFont_wght.ttf");
    font-weight: medium;
    font-style: italic;
}

@font-face {
    font-family: "PlusJakartaSans";
    src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
    font-weight: medium;
    font-style: normal;
}



:root {
    /* Primary */
    --Lime: hsl(61, 70%, 52%);
    --Red: hsl(4, 69%, 50%);

    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Slate-100: hsl(202, 86%, 94%);
    --Slate-300: hsl(203, 41%, 72%);
    --Slate-500: hsl(200, 26%, 54%);
    --Slate-700: hsl(200, 24%, 40%);
    --Slate-900: hsl(202, 55%, 16%);

}



/*

   ••••••••••••••••••••••• RESETS
*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}


body {
    font-family: "PlusJakartaSans", sans-serif;
    font-size: 1.6rem;
}


button {
    font: inherit;
    background: transparent;
    border: none;
    cursor: pointer;
}

label {
    display: block;
}


img {
    display: block;
    font-style: italic;
    max-width: 100%;
}

input{
    font: inherit;
    cursor: pointer;
}



/**

         ••••••••••••••• Custom Radio button 
**/

.custom-radio-circle {
    position: relative;
    width: 2.1rem;
    height: 2.1rem;
    border-radius: 100%;
}

.custom-radio-circle input {
    appearance: none;
}

.custom-radio-circle .radio-dot {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border: .1rem solid var(--Slate-900);
    border-radius: 100%;

    display: grid;
    place-items: center;

    transition: border-color .3s;
}

.custom-radio-circle .radio-dot::before {
    content: "";
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    transition: background .3s;

}

.custom-radio-circle input:checked+.radio-dot {
    border-color: var(--Lime);
}

.custom-radio-circle input:checked+.radio-dot::before {
    background: var(--Lime);
}




    
    
  
  
    
    
    
 /**
    MORTGAGE CALCULATOR 
        PAYMENT SECTION
**================================== 
*/

/*•••••••••••••••••••• Header*/

.MG-Calculator{
    background: var(--White);
    width: 100%;
}


.MG-Calculator__PS{
    padding-inline: 2rem;
    padding-block-start: 3rem;
    --margin-bottom: 2rem;
}


.MG-Calculator__PS .header{
    margin-bottom: 2rem;
}

.MG-Calculator__PS .header h1{
    font-size: 2.4rem;
    color: var(--Slate-900);
    margin-bottom: .3rem;
}

.MG-Calculator__PS .header button{
    font-size: 1.3rem;
    color: var(--Slate-500);
    border-bottom: .1rem solid var(--Slate-500);
    transition-property: border-color color;
    transition-duration: .3s;
}

.MG-Calculator__PS .header button:hover{
    color: var(--Slate-900);
    border-color: var(--Slate-900);
}







/*••••••••••Mortgage Calculator, Payment Form*/
.input-wrapper:not(:last-of-type){
    margin-bottom: var(--margin-bottom);
}

.label{
    /*Input labels*/
    color: var(--Slate-700);
    margin-bottom: 1rem;
    font-weight: 500;
}
    
    
.input-field:not(.flex){
    /*Selecting just the non radio input fields*/
    position: relative;
}


input[type="number"]{
    /*All number inputs*/
    width: 100%;
    outline: none;
    border: none;
    border: .1rem solid var(--Slate-500);
    padding-block: 1.4rem;
    border-radius: .5rem;
    transition: border-color .3s;
    font-weight: bold;
    color: var(--Slate-900);
}

input.mortgage-amount{
    padding-inline: 5rem 2rem;
}

input.mortgage-term{
    padding-inline: 2rem 8.5rem
}

input.interest-rate{
    padding-inline: 2rem 7rem;
}

input[type="number"]:focus{
    border-color: var(--Lime);
}

input[type="number"].error{
    /*error states for inputs*/
    border-color: var(--Red);
}


/**
Units

**/

.units{
    /* £, years, % */
    position: absolute ;
    top: 0;
    bottom: 0;
    background: var(--Slate-100);
    width: fit-content;
    padding-inline: 1.5rem;
    display: grid;
    place-items: center;
    font-weight: bold;
    border: .1rem solid var(--Slate-500);
    transition: background-color .3s,  border-color .3s,  color .3s;
}

input[type="number"]:focus + .units{
    background: var(--Lime);
    border-color: var(--Lime);
}

input[type="number"].error + .units{
    background: var(--Red);
    border-color: var(--Red);
    color: var(--White);
}

.units.pound{
    border-right: none;
    border-bottom-left-radius: .5rem;
    border-top-left-radius: .5rem;
    
}

.units:is(.years, .percent){
    right: 0;
    border-left: none;
    border-bottom-right-radius: .5rem;
    border-top-right-radius: .5rem;
}

.error-msg {
    color: var(--Red);
    font-size: 1.2rem;
    margin-top: .5rem;
}

.error-msg.hidden{
    display: none;
}


.input-wrapper.flex .input-group{
    /*Spacing between Mortgage Term and Interest Rate*/
    margin-bottom: var(--margin-bottom)
}




/**

Radio Buttons
**/


.input-field.flex{
    /*Radio buttons*/
    display: flex;
    gap: 2rem;
    border: .1rem solid var(--Slate-700);
    padding-block: 1.4rem;
    padding-inline-start: 2rem;
    border-radius: .5rem;
    
    transition: border-color .3s, background .3s;
}

.input-field.flex:hover{
    border-color: var(--Lime);
}

.input-field.flex.active{
    border-color: var(--Lime);
    background: hsla(61, 70%, 95%, 1);
}

.input-field.flex:first-of-type{
    /*First radio button*/
    margin-bottom: 1rem;
}

label{
    /*Radio buttons label*/
    font-weight: bold;
    color: var(--Slate-900);
}



/**
Calculate Button

**/


.calculate-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-weight: bold;
    color: var(--Slate-900);
    background: var(--Lime);
    width: 100%;
    border-radius: 10rem;
    padding-block: 1.5rem;
    margin-block: 2.5rem 3rem;
}

.calculate-btn:hover{
    background: hsla(61, 70%, 70%, 1)
}













 /**
    MORTGAGE CALCULATOR 
        RESULT SECTION
**================================== 
*/



.MG-Calculator__RS{
    background: var(--Slate-900);
    padding-inline: 2.5rem;
    padding-block: 3rem;
    color: var(--Slate-300);
}


/**

EMPTY
*/

.MG-Calculator__RS__empty{
    /*Noticeable on desktop screens*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MG-Calculator__RS__empty .image{
    margin-bottom: 1rem;
}


.MG-Calculator__RS__empty .header{
    font-size: 2rem;
    color: var(--White);
    margin-bottom: 1rem;
}


.MG-Calculator__RS__empty .description{
    text-align: center;
    line-height: 1.5;
}


.hidden{
    display: none;
}




/**

COMPLETED 
**/


.MG-Calculator__RS__completed .header{
    color: var(--White);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}


.MG-Calculator__RS__completed .description{
    line-height: 1.5;
    margin-bottom: 2rem;
}


.MG-Calculator__RS__completed .result-dashboard{
    background: hsla(202, 55%, 10%, 1);
    padding-inline: 2rem;
    padding-block: 2.5rem;
    
    border-top: .4rem solid var(--Lime);
    border-radius: .5rem;
}

.result-dashboard .monthly-repayment{
   margin-bottom: 1rem
}

.result-dashboard .monthly-payment{
    font-size: 4rem;
    color: var(--Lime);
    font-weight: bold;
    margin-bottom: 1rem;
}

.result-dashboard .divider{
    border-bottom: .02rem solid var(--Slate-700);
    margin-bottom: 1rem;
}


.result-dashboard .total-term-repayment{
    margin-bottom: 1rem;
}

.result-dashboard .total-term-payment{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--White);
    
}









 /**
    MORTGAGE CALCULATOR 
        RESPONSIVENESS
**================================== 
*/

/**
    Tablet

**/
@media screen and (min-width: 768px){
    body{
        height: 100vh;
        height: 100svh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--Slate-100);
    }
    
    .MG-Calculator{
        max-width: 70%;
        border-radius: 2rem;
        overflow: hidden;
    }
    
    .MG-Calculator__PS .header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 3rem;
    }
    
    .MG-Calculator__PS,
    .MG-Calculator__RS{
        padding-inline: 3.5rem;
    }
    
    .MG-Calculator__PS{
        padding-inline-start: 3.5rem;
    }
    
    
    .input-wrapper.flex {
        display: flex;
        gap: 2rem;
    }
    
    .input-wrapper.flex .input-group{
        margin-bottom: 0;
        width: 100%;
    }
    
    .calculate-btn{
        width: 50%;
        margin-block-end: 3.5rem;
    }
    
}



/**

Laptop & Desktop 

**/


@media screen and (min-width: 1024px){
    .MG-Calculator{
        max-width: 900px;
        display: flex;
    }
    
    .MG-Calculator__PS,
    .MG-Calculator__RS{
        width: 100%
    }
    
    .MG-Calculator__RS{
        border-bottom-left-radius: 7rem;;
    }
    
    .calculate-btn{
        width: 80%;
        margin-block-end: 3.5rem;
    }
    
    .result-dashboard{
        padding: 3rem;
    }
    
    .result-dashboard .monthly-payment{
        font-size: 6rem;
        margin-bottom: 3rem
    }
    
    .result-dashboard .divider{
        margin-bottom: 3rem;
    }
   
    
    .result-dashboard .total-term-payment{
        font-size: 3rem;;
    }
}


